* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
    
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Nav Section */

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    height: 60px;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

ul li {
    text-align: center;
    padding: 14px 12px;
}

a {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.small-text {
    font-size: 0.9rem;
}

.menu-bg {
    width: 40px;
    height: 40px;
    border-radius: 100%;
} 

.menu-bg:hover {
    background-color:rgba(100, 100, 100, 0.1);
    cursor: pointer;
}

.menu-button {
    width: 15px;
}

li i {
    color: red;
    margin-top: 6px;
}

/* Main Section */

.search-container {
    height: 60vh;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    position: relative;
    margin-top: 30px;
}


input {
    width: 580px;
    height: 45px;
    padding-left: 50px;
    font-size: 1.2rem;
    border-radius: 45px;
    border: 1px solid #d3d3d3;
}

input:hover {
    box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
}

input:focus {
    outline: none;
}

.search {
    width: 15px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.mic {
    width: 15px;
    position: absolute;
    top: 12px;
    left: 550px;
    cursor: pointer;
}

/* Buttons Section */

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    border: 1px solid transparent;
    padding: 8px 12px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

button:hover {
    border: 1px solid #eee;
    box-shadow: 0 0 2px 1px rgba(189, 189, 189, 0.5);
    cursor: pointer;
}

/* Footer Section */

footer {
    width: 100%;
    background-color: #f2f2f2;
}
.india{
    margin-left:10px;
    color: #3c4043;
}
.footer-panel {
    border-bottom: 1px solid #ddd;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #3c4043;

}

p:hover {
    text-decoration: underline;
}


.leaf {
    width: 12px;
    margin-right: 4px;
}


/* Media Section */

@media (max-width: 480px) {
   
    
    body {
        height: 100vh; 
        width: 100%;
        overflow: hidden;
        
    }

    .search-container {
        margin-top: -20px;
        padding: 2px;
        height: 60vh;
        width: 100%;
    }

    img {
        width: 250px;
    }

    form {
        position: relative;
        width: 100%;
        margin-top: 10px;
        
    }

    input {
        width: 300px;
        font-size: 0.7rem;
        height: 12px;
        padding: 10px;
        padding-left: 40px;
        margin: 0 auto;
        display: block;
    }

    .mic {
        position: absolute;
        width: 7px;
        top: 6px;
        left: 370px;
    }

    .search {
        position: absolute;
        width: 8px;
        top: 7px;
        left: 100px;
    }

    .buttons {
        margin-top: 10px;
        
    }

    button {
        padding: 2px;
        font-size: 0.7rem;
    }

    footer {
        width: 100%;
        background-color: #f2f2f2;
        position: relative;

    }

    .footer-panel {
        height: 20px;
        padding: 12px;
        display: flex;
        justify-content: space-around;
        
    }

    footer li {
        padding: 4px;
    }

    footer li a {
        font-size: 0.7rem;
        padding: 4px;
    }

    /* .leaf-container {
        position: absolute;
        font-size: 0.7rem;
        top: 3px;
        left: 150px;
        padding: 4px;
    }

    .leaf{
        width: 8px;
    } */


   

}

@media (max-width: 768px) {

    body {
        display: flex;
        justify-content: space-around;
        height: 100vh;
        width: 100vw;
    }

    nav {
        height: 40px;
        padding: 4px;
    }

    nav ul {
        display: flex;
        align-items: center;
    }

    ul li {
        padding: 7px 6px;
    }

    .menu-bg {
        margin-top: 8px;
    }

    i {
        margin-bottom: 8px;
    }

    a {
        padding: 7px 6px;
    }

    .search-container {
        height: 100%;
        top: -200px;
        padding-top: 0;
        margin-top: 0px;
    }

    form {
        margin-top: 10px;
    }

    input {
        width: 500px;
        height: 35px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 10px 0;
        margin-top: 20px;
        font-size: 0.5rem;
    }

    button {
        min-width: 60px;
        padding: 0 14px;
        line-height: 24px;
        font-size: 0.8rem;
    
    }

    .search {
        top: 12px;
        left: 12px;
        width: 12px;
    }

    .mic {
        top: 12px;
        left: 480px;
        width: 10px;
    }

    footer {
        position: relative;
      
    }

    .footer-panel {
        height: 20px;
        padding: 20px;
    }

    li a {
        font-size: 0.8rem;
    }

    /* .leaf-container {
        position: absolute;
        top:14px;
        left: 300px;
        font-size: 0.8rem;
        
    }

    .leaf {
        width: 10px;
    } */
    
}

@media (max-width: 1007px) {

    body {
        display: flex;
        justify-content: flex-start;
    }

    nav {
        padding: 5px;
        height: 40px;
       
    }

    .menu-bg {
        margin-top: 25px;
    }

    i {
        margin-bottom: 5px;
    }

    ul li {
        padding: 0;
    }

    li a {
        padding: 4px;
        font-size: 0.8rem;
    }

    .small-text {
        font-size: 0.8rem;
    }

    .search-container {
        height: 100%;
        padding-top: 0px;
    }

    .logo {
        width: 230px;
    }

    form {
        margin-top: 15px;
    }

    input {
        width: 500px;
        height: 35px;
    }

    .buttons {
        margin-top: 15px;
    }

    .search {
        width: 12px;
        top: 12px;
    }

    .mic {
        width: 10px;
        top: 10px;
        left: 475px;
    }

    footer {
        position:relative;

    }

    .footer-panel {
        display: flex;
        justify-content: space-around;
        height: 20px;
    }

    /* .leaf-container {
        position: absolute;
        top: 8px;
        left: 300px;
        font-size: 0.8rem;
    }

    .leaf {
        width: 10px;
    } */





}